ul{
  list-style: none;
  display: flex;
}

li{
  margin: 14px;
  padding: 35px;
  
}
nav{
  /* display: flex;
      align-content: space-around;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column; */
      background: antiquewhite;
      height: 120px;
}

li a {
  color: black;
  text-decoration: none;
}
li:hover{
  border-bottom: 2px solid red;
}

.logo{
  width: 40%;
  float: left;
  margin-top: 25px;
}

.logo h1{
  padding-left: 45px;
}

.navbar{
  width: 60%;
  float: left;
  display: flex;
  justify-content: flex-end;
}